/*--------BASE*/
html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, b, u, i,  ol, ul, li,
fieldset, form, label, legend,table, article, aside, figure, figcaption, footer, header, hgroup, 
menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}

body {
  background:url('sky.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: 40%;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
/*---------MODULES--*/

/* TOP BANNER_--*/
.top-banner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom:1rem;
}
.top-banner-heading {
  font-family: 'Vollkorn', serif;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: .5rem;
}
.top-banner-button:hover,
.top-banner-back-button:hover {
  background: rgb(224, 211, 186);
}
.top-banner-button, 
.top-banner-back-button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 1rem 1.5rem;
  margin-left: 3rem;
  margin-top: 1rem;
  border-radius: 5px;
  background: rgb(202, 121, 45);
  font-family: 'Vollkorn', serif;
}
.top-banner-back-button {
  text-decoration: none;
  color:black;
  margin: 1rem;
}
.top-banner-button {
  margin-left:3rem;
}

.top-banner-input {
  font-size: 1rem;
  height: 2.5rem;
  text-align: center;
  border: 1px solid;
  border-radius:7px;
  background-color: rgb(235, 222, 168);
  margin-left: 3rem;
}
.top-banner-paragraph {
  font-family: 'Vollkorn', serif;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-align: center;
}

/*------------------WEATHER CARD-*/
.weather-card {
  background-color: rgba(209, 202, 202, 0.541);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 40vh;
  border-radius: 10px;
  font-family: 'Merriweather Sans', sans-serif;
  margin-top: 1rem;
}
.weather-card-temp {
  font-size: 1.5rem;
  font-weight: bold;
  height: 1rem;
}
.weather-card-header {
  font-size: 1rem;
}
/*-------------STATE--*/

@media only screen and (min-width: 870px) {
.top-banner-heading {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .top-banner-paragraph {
    font-size: 1.5rem;
  }
  .top-banner-input {
    font-size: 2rem;
    height: 53px;
    margin-top: auto;
  }
  .top-banner-button
  .top-banner-back-button {
    height:4rem ;
    width: 8rem ;
    margin-left: 1rem;
    margin-bottom: 2rem;
  }
  .top-banner-button {
    margin-left:4rem;
  }
  .weather-card {
  height: 60vh;
  width: 40vh;
  }
  .weather-card-temp {
  height: 3rem;
  font-size: 5rem;
  margin: 1rem;
  }
  .weather-card-img-description {
   font-size:1.5rem;
  }
  .weather-card-header {
    font-size: 1.5rem;
  }
  .weather-card-img {
    width: 6rem;
    height: 6rem;
  }
}

